<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.weixin.mapper.HolidaysMenuMapper">
    
    <resultMap type="HolidaysMenu" id="HolidaysMenuResult">
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectHolidaysMenuVo">
        select create_by, create_time, update_by, update_time, remark, id, name from wx_holidays_menu
    </sql>

    <select id="selectHolidaysMenuList" parameterType="HolidaysMenu" resultMap="HolidaysMenuResult">
        <include refid="selectHolidaysMenuVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

</mapper>